.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;     /* Зафиксировать внизу */
  bottom: 0;           /* Внизу экрана */
  left: 0;             /* От левого края */
  right: 0;            /* До правого края */
  background-color: #000000; 
  border-top: 1px solid #ffd600;
  color: white;        /* Цвет текста */
  padding: 5px;       /* Отступы */
  text-align: center;  /* Центрированное положение */
  z-index: 1000;       /* Высокий z-index, чтобы не перекрывался */
  height: 30px;    
  color: #ffd600;  
  font-size: 25px;  /* Фиксированная высота (пример, настройте) */
}
.footer-container p{
  margin-right: 40px;
}
.social-link  {
  font-size: 30px;
  margin: 0px 30px;
}
.social-link whatsapp  {
color: rgb(26, 235, 26)s;
}

.links-container {
   margin-top: 10px;
   display: flex;
}


@media (max-width: 480px) {
  .social-link  {
  font-size: 30px;
  margin: 0px 20px;
}
  
  .footer-container p{
display: none;
}
}