@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



body {
  font-family: Arial, sans-serif;
  font-family: "Playfair Display", serif;
  background-color: #000; /* Черный фон страницы */
  margin: 0;
  padding: 0;
  color: #ffd700; /* Темно-желтый текст по умолчанию */





}

.container {
  background-color: #3b3838; /* Светло-серый фон — замените на любой оттенок серого, если нужно */
  min-height: 100vh; /* Заливает весь экран по высоте */
 /* Полная ширина */
  margin: 0 10px ;
  padding: 0;
  /* Дополнительно: добавьте ваш контент внутрь .container */
}



