

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




body {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;






  background-color: #000; /* Черный фон страницы */
  margin: 0;
  padding: 0;
  color: #030303; /* Темно-желтый текст по умолчанию */
}


.container {
    font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: white; /* Светло-серый фон — замените на любой оттенок серого, если нужно */
  min-height: 100vh; /* Заливает весь экран по высоте */
 /* Полная ширина */
  
  padding: 0;
  /* Дополнительно: добавьте ваш контент внутрь .container */
}


